/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Jan-2023, 11:23:00 AM
    Author     : 236336
*/
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);*/

.welcome_message{
    text-align: center;

}

/**, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

/*body {
    background: #105469;
    font-family: 'Open Sans', sans-serif;
}*/
.customers_table_div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.search_form {
    
    max-width: 25%;
}

.users_list {
    width: 70%;
}