/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Jan-2023, 11:23:00 AM
    Author     : 236336
*/
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);*/

.welcome_message{
    text-align: center;

}

/**, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

/*body {
    background: #105469;
    font-family: 'Open Sans', sans-serif;
}*/
.customers_table_div {
    width: 100%;
    margin: 5px auto;
}

.customers_table {
    background: #012B39;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: auto;
}

.customers_table_th {
    width: 20%;
    border-bottom: 1px solid #364043;
    color: #E2B842;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}


.customers_table_td {
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
}

/*.disabled td {
    color: #4F5F64;
}*/

.customers_table_tr {
    transition: background 0.25s ease;
}

.customers_table_tr:hover {
    background: #014055;
}