/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Jan-2023, 11:23:00 AM
    Author     : 236336
*/

.welcome_message{
    text-align: center;
}

.error_message{
    color: red;
}

.green_error_message{
    color: green;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.popup-div {
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-align: center;
}

.popup-h2 {
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-align: center;
}