@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: #ededed;
}
.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}
h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;

  span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
  }
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  text-align: center;
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.cont {
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
}

.form {
  position: absolute;
  width:640px;
  height: 100%;
/*  transition: transform $switchAT ease-in-out;*/
  padding: 50px 30px 0;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
/*  transition: transform $switchAT ease-in-out;*/

}

.container {
	display: flow;
	align-items: center;
	justify-content: center;
        
	min-height: 80vh;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 800px;
	width: 400px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}
.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}
/*
.register {
	width: 600px;
	padding: 180px;
	padding-top: 10px;
}

.register__field{
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.register__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}


.register__input:active,
.register__input:focus,
.register__input:hover {
	outline: none;
	border-bottom-color: #999999;
}

.register__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 10px 5px;
	border-radius: 15px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 70%;
        color: #999999;
        box-shadow: 0px 2px 3px #666666;
	cursor: pointer;
	transition: .2s;
}

.register__submit:active,
.register__submit:focus,
.register__submit:hover {
	border-color: #6A679E;
	outline: none;*/